<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to New Alkas Project!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <!-- Axentix CSS minified version -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.4/dist/css/axentix.min.css">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    {% block javascripts %}{% endblock %}
</head>

<body class="layout with-sidenav fixed-sidenav under-navbar ">
<header>
    <nav class="navbar-fixed ">
        <nav class="navbar shadow-1 airforce txt-white">
        <a href="{{ path('acceuil') }}" {#target="_blank"#} class="navbar-brand">Alkas new new new Project</a>
        <div class="navbar-menu ml-auto">
            <a class="navbar-link" href="/marques">Marques</a>
            <a class="navbar-link" href="/voiture">Voitures</a>
            <a class="navbar-link" href="/sujet">QCM</a>
{#            <a class="navbar-link" href="/login">Connexion</a>
            <a class="navbar-link" href="/logout">Deconnexion</a>#}

            {#TODO : Demander à Laurent comment faire fonctionner l'affichage conditionnel dans cette situation :#}
            {#                            {% if app.user.roles is not null %}
                            <a class="nav-link" href="{{ path('updateUser', {'id': app.user.id}) }}">Votre compte</a>
                            {% endif %}#}
        </div>
        </nav>
    </nav>
</header>

<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed grey light-4">
    <div class="sidenav-header">
        <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
        <img class="sidenav-logo dropshadow-1" src="{{ asset('css/My_Monkey_darkBlueII.png') }}" alt="Logo" />
    </div>
    <a class="sidenav-link active" href="/profil">Votre Profil</a>
{#    <a href="" class="sidenav-link">Mes annonces</a>#}

    <br>
    <a class="sidenav-link" href="/login">Connexion</a>
    <a class="sidenav-link" href="/logout">Deconnexion</a>
</div>

<main>
    <button data-target="example-sidenav"
            class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
        Open sidenav
    </button>

    {% block body %}{% endblock %}
</main>


<footer class="footer airforce txt-white">
    Copyright © 2022 - Test Footer
</footer>

<!-- Optional JavaScript -->
<!-- Axentix JS minified version -->
<script src="https://cdn.jsdelivr.net/npm/axentix@1.3.4/dist/js/axentix.min.js"></script>
<script src="{{asset('js/script.js') }}"></script>


</body>
</html>
