{% extends 'base.html.twig' %}

{% block title %}Sujet index{% endblock %}

{% block body %}



<div class="grix xs4 sm2 gutter-xs4 container mt-auto">
    <div class="card shadow-1 rounded-3">
        <div class="card-content xs4">
            <div class="card-header xs4">
                <h1>Sujet index</h1>
            </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Theme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sujet in sujets %}
            <tr>
                <td>{{ sujet.id }}</td>
                <td>{{ sujet.theme }}</td>
                <td>
                    <a href="{{ path('sujet_show', {'id': sujet.id}) }}">show</a>
                    <a href="{{ path('sujet_edit', {'id': sujet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sujet_new') }}" class="btn shadow-1 rounded-1 outline opening txt-">Create new</a>

        </div>
    </div>
</div>
{% endblock %}
