{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="grix xs4 sm2 gutter-xs4 container">
    <div class="card shadow-1 rounded-3">
        <div class="card-content xs4">
            <div class="card-header xs4"><h1>Register</h1></div>


    {{ form_start(registrationForm) }}
            <div class="xs1"> {{ form_row(registrationForm.email) }} </div>
            <div class="xs1">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
                }) }} </div>
            <div class="xs1"> {{ form_row(registrationForm.name) }} </div>
            <div class="xs1"> {{ form_row(registrationForm.firstname) }} </div>



    {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn shadow-1 rounded-1 outline opening txt-blue" type="submit"><span class="outline-text">Register</span></button>

    {{ form_end(registrationForm) }}

        </div>
    </div>
</div>

{% endblock %}

