{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        je suis un admin<br>
    {% endif %}

    <h1>Voiture index</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>test</th>
                <th>Marque</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.nom }}</td>
                <td>{% for image in voiture.uploadImages %}
                        <div>
                            <img src="{{ asset('/upload/' ~ image.name) }}" alt="Image" width="150">
                            {#<a href="{{ path('voiture_image_delete', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>#}
                        </div>
                    {% endfor %}
                </td>
                <td>{{ voiture.marque.nom }}</td>
                <td>{{ voiture.content }}</td>
                <td>
{#                    <button class="btn"><a href="{{ path('voiture_show', {'nameSlugger': voiture.nameSlugger}) }}">show</a></button>#}
                    <button class="btn"><a href="{{ path('voiture_edit', {'id': voiture.id}) }}" class="btn">edit</a>
                    {{ include('voiture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('voiture_new') }}">Create new</a>
    <a href="{{ path('exo') }}">3 in a row !!</a>
    <a href="{{ path('suppressionListeVoiture') }}">delete last 3 !!</a>
{% endblock %}