{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <h1>Voiture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ voiture.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voiture.content }}</td>
            </tr>
            <tr>
                <th>Image(s)</th>
                <td>
                    {% for image in voiture.uploadImages %}
                    <div>
                        <img src="{{ asset('/upload/' ~ image.name) }}" alt="Image" width="150">
                        {#<a href="{{ path('voiture_image_delete', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>#}
                    </div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voiture_index') }}">back to list</a>

    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>

    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}